@media only screen and (max-width: 569px) {
  #header-item-x {
    color: antiquewhite;
  }
  .authentication {
    padding-left: 24px;
    margin-bottom: 4px;
  }

  input {
    outline: 0;
    margin-bottom: 7px;
    border-width: 0 0 1px;
    width: 100%;
    background: transparent 96%;
    border-color: rgb(135, 132, 132);
  }

  input:focus {
    outline: 0;
    margin-bottom: 7px;
    border-width: 0 0 1px 0;
    width: 100%;
    background: transparent 96%;
    border-color: rgb(135, 132, 132);
    transition: all 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
    background: linear-gradient(to bottom, transparent 96%, #808080 4%);
  }
  #Port {
    width: 8rem;
  }
  #UseSsl {
    width: 25px;
  }
  #UseDefaultCredentials {
    width: 25px;
  }

  .form-body {
    display: flex;
    min-height: 100%;
  }
  .header-title {
    padding-left: 10px;
    font-weight: 600;
  }

  .lb-host {
    color: #ff5880;
    margin-top: 20px;
    font-size: 0.8rem;
    line-height: 0.8rem;
    display: block;
    font-weight: 500;
  }
  .form-body-right .label {
    display: block;
    color: #a0a0a0;
    font-size: 0.7rem;
    line-height: 0.7rem;
  }
  .element-margin {
    padding-bottom: 5px;
  }
  .orange {
    display: block;
    font-size: 0.7rem;
    line-height: 0.7rem;
    color: #e0a000;
  }
  .alabel {
    font-size: 0.8rem;
    line-height: 0.8rem;
    color: #4080a0;
    cursor: default;
  }
  .form-header {
    line-height: 32px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: antiquewhite;
    background-color: rgba(0, 190, 160, 0.8);
  }
  .form-body-left {
    border-right: 1px solid black;
    width: 10%;
    background-color: #e0e0e0;
  }
  .form-body-right {
    width: 100%;
    margin: auto;
    padding: 12px;
    background-color: #ffffff;
    height: calc(100vh - 54px);
  }
  .submit-btn {
    font-weight: 600;
    margin: 25px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
  }
  #svgSend {
    height: 2.5em;
    background-color: #404040;
  }
  #sendMenu {
    margin: 12px;
  }
  #sendIcon {
    margin: 12px;
  }

  #test-server {
    clear: both;
    display: inline-block;
    width: calc(100% - 100px);
    font-size: 1rem;
    text-align: left;
  }

  .floatRight {
    float: right;
  }

  #test-check {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    background-color: rgba(32, 32, 32, 0.75);
    color: #fff;
  }

  .loo {
    background-image: url(/public/img/paper-airplane.png);
    background-repeat: no-repeat;
    background-position: right bottom -80px;
  }
  #btnSubmit-server {
    border-radius: 5px;
    background-color: #ff4060;
    border-color: #dd3040;
    font-size: 1rem;
    padding: 0.4rem 0.5rem 0.4rem 0.5rem;
    padding: 0.6rem 0.75rem 0.6rem 0.75rem;
    line-height: 1rem;
    color: #fff;
  }
  #errorValidate {
    font-size: 15px;
    color: #ff4040;
  }
}

@import url(./styleLange.css);
