/* .wCore {
  width: 90%;
} */
.aWindow {
  /* border-radius: 5px; */
  width: 100%;
  margin: auto;
}
div{
  border:1px solid #ff5880;
}
.aWindow-header {
  /* padding: 8px 8px 8px 16px; */
  background-color: rgba(0, 190, 160, 0.8);
  color: #fff;
  /* height: 48px; */
  /* line-height: 32px; */
  width: 100%;
  margin: auto;
}
.floatRight {
  float: right;
}

.aWindow-flex {
  padding: 0px;
  /* position: relative; */
  height: calc(100% - 48px);
  font-size: 0.8rem;
  line-height: 1rem;
  /* padding-left: 301px; */
  /* background-color: transparent; */
  background-color: #fff;
  width: 100%;
  margin: auto;
}
#test-check {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  background-color: rgba(32, 32, 32, 0.75);
  color: #fff;
}
.aWindow-core {
  background-color: #fff;
  color: #404040;
  width: 100%;
  height: 100%;
  overflow-y: auto;
}
.loo {
  background-image: url(/public/img/paper-airplane.png);
  background-repeat: no-repeat;
  background-position: right bottom -80px;
}
#wCore {
  /* position: absolute; */
  margin: auto;
  /* width: 1150px; */
  /* top: 15%; */
  /* left: 50%; */
  /* margin-left: -600px; */
}

.aWindow-button {
  background-color: #fb4f6c;
  border-color: #7b2031;
  color: #fff;
}
.aWindow-button.fuchsia:hover {
  background-color: #ff5880;
  border-color: #ee4060;
  color: #fff;
}
