#header-item-x {
  color: antiquewhite;
}
.form-body {
  display: flex;
  min-height: 100%;
}
.form-body-right .label {
  display: block;
  color: #a0a0a0;
  font-size: 0.7rem;
  line-height: 0.7rem;
}
.element-margin {
  padding: 12px;
}
.orange {
  display: block;
  font-size: 0.7rem;
  line-height: 0.7rem;
  color: #e0a000;
}
.alabel {
  font-size: 0.8rem;
  line-height: 0.8rem;
  color: #4080a0;
  cursor: default;
}
.form-header {
  line-height: 32px;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: antiquewhite;
  background-color: rgba(0, 190, 160, 0.8);
}
.form-body-left {
  padding: 5px;
  background-color: #e0e0e0;
}
.form-body-right {
  width: 100%;
  margin: auto;
  padding: 5%;
  background-color: #ffffff;
  height: calc(100vh - 48px);
}
.submit-btn {
  margin: 25px;
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
}
#svgSend {
  background-color: #404040;
}

#test-server {
  clear: both;
  display: inline-block;
  width: calc(100% - 100px);
  font-size: 1rem;
  text-align: left;
}

.aWindow-header {
  /* padding: 8px 8px 8px 16px; */
  background-color: rgba(0, 190, 160, 0.8);
  color: #fff;
  /* height: 48px; */
  /* line-height: 32px; */
  width: 100%;
  margin: auto;
}
.floatRight {
  float: right;
}

.aWindow-flex {
  padding: 0px;
  /* position: relative; */
  height: calc(100% - 48px);
  font-size: 0.8rem;
  line-height: 1rem;
  /* padding-left: 301px; */
  /* background-color: transparent; */
  background-color: #fff;
  width: 100%;
  margin: auto;
}
#test-check {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  background-color: rgba(32, 32, 32, 0.75);
  color: #fff;
}
.aWindow-core {
  background-color: #fff;
  color: #404040;
  width: 100%;
  height: 100%;
  overflow-y: auto;
}
.loo {
  background-image: url(/public/img/paper-airplane.png);
  background-repeat: no-repeat;
  background-position: right bottom -80px;
}

.aWindow-button {
  border-radius: 5px;
  background-color: #fb4f6c;
  border-color: #ee4060;
  color: #fff;
}
.aWindow-button.fuchsia:hover {
  background-color: #ff5880;
  border-color: #ee4060;
  color: #fff;
}
