header {
  display: flex;
  width: 100%;
  _height: 3rem;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  color: #e0e0e0;
  _font-size: 14px;
  _line-height: 16px;
  z-index: 1000;
  transition: all ease 0.3s;
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 12px rgb(0 0 0 / 80%);
  user-select: none;
}
header .item.on {
  background-color: #00ffd8;
  background-color: rgba(0, 255, 220, 0.5);
}
header .item {
  display: inline-block;
  padding: 1rem;
  color: #f0f0f0;
  text-decoration: none;
  cursor: pointer;
}
.icon-navb {
  padding-top: 10px;
}
.dropdown {
  width: 100%;
  margin: auto;
  padding: 10px;
}
.dr-down {
  
  display: block;
  padding: 0.8rem;
  color: #303030 !important;
  cursor: pointer;
  text-decoration: none;
}

.navb-sub{
  position: relative;
}
.Submenu{
  position: absolute;
  inset: 0px auto auto 0px;
  width: 100% !important;
  margin-top: 17px !important;
  transform: translate3d(0px, 23px, 0px);
}
#closeModal{
  background-color: #fff;
    border: 1px solid #303030;
    border-radius: 3px;
    box-shadow: 0 0 6px rgb(0 0 0 / 50%);
    font-family: Raleway,sans-serif;
    font-size: 14px;
    padding: 6px 12px 6px 12px;
    cursor: pointer;
    opacity: .9;
}
.modal-header {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 1rem 1rem;
  border-bottom:none;
  border-top-left-radius: calc(0.3rem - 1px);
  border-top-right-radius: calc(0.3rem - 1px);
}
.modal-footer {
  display: flex;
  flex-wrap: nowrap;
  align-items: flex-start;
  justify-content: space-between;
  padding: 0.75rem;
  border-top: 1px solid #dee2e6;
  border-bottom-right-radius: calc(0.3rem - 1px);
  border-bottom-left-radius: calc(0.3rem - 1px);
  flex-direction: row;
}