* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border-collapse: collapse;
  outline: none;
}

html,
body {
  width: 100%;
  height: 100%;
  font-family: "Raleway", "Trebuchet MS", "Lucida Grande", Arial, sans-serif;
  font-size: 16px;
}
body {
  background: #a0a0a0 url(../public/img/gun90.webp) no-repeat center center;
  background-size: cover;
  color: #303030;
  font-family: "Raleway", "Trebuchet MS", "Lucida Grande", Arial, sans-serif;
  overflow-x: hidden;
  overflow-y: auto;
}
header {
  width: 100%;
  _height: 3rem;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  color: #e0e0e0;
  _font-size: 14px;
  _line-height: 16px;
  z-index: 1000;
  transition: all ease 0.3s;
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 12px rgb(0 0 0 / 80%);
  user-select: none;
}
header .item {
  display: inline-block;
  padding: 1rem;
  color: #f0f0f0;
  text-decoration: none;
  cursor: pointer;
}
header .item.on {
  background-color: #00ffd8;
  background-color: rgba(0, 255, 220, 0.5);
}
#wSlogan {
  clear: both;
  padding: 32px;
  font-family: "Playball";
  color: #fff;
  font-size: 2.4em;
  text-align: center;
  text-shadow: 0 0 8px #000;
}
@font-face {
  font-family: Playball;
  src: url(../public/Playball-Regular.ttf);
}
@font-face {
  font-family: Oswald;
  src: url(../public/Oswald-VariableFont_wght.ttf);
}
#wSlogan {
  font-family: Playball;
}
#wSlogan .author {
  margin-left: 15px;
  font-family: Oswald;
  font-size: 0.6em;
  font-weight: lighter;
}
.icon-grid:before {
  content: "\e860";
}
